<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuackOSD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuackOSD.Properties.Settings>
            <setting name="OsdPosition" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="MarginHorizontal" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MarginVertical" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OsdDuration" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="AnimInType" serializeAs="String">
                <value>Fade</value>
            </setting>
            <setting name="AnimInDuration" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AnimOutType" serializeAs="String">
                <value>Fade</value>
            </setting>
            <setting name="AnimOutDuration" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ShowCover" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowArtist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowControls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OsdScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowTimeLine" serializeAs="String">
                <value>True</value>
            </setting>
        </QuackOSD.Properties.Settings>
    </userSettings>
</configuration>